<h2><%= Donation.model_name.human %></h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= Donation.human_attribute_name("user") %></th>
      <th scope="col"><%= Donation.human_attribute_name("project") %></th>
      <th scope="col"><%= Donation.human_attribute_name("amount") %></th>
      <th scope="col"><%= Donation.human_attribute_name("confirmation_status") %></th>
      <th scope="col"><%= Donation.human_attribute_name("is_deleted") %></th>
    </tr>
  </thead>
  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.user.first_name + ' ' + donation.user.last_name %></td>
        <td><%= donation.project.name %></td>
        <td><%= donation.amount %></td>
        <td><%= donation.confirmation_status %></td>
        <td><%= donation.is_deleted %></td>
        <td></td>
      </tr>
      <% end %>
  </tbody>
</table>