<h2>My Donations</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%=t('.project')%></th>
      <th scope="col"><%=t('.amount')%></th>
      <th scope="col"><%=t('.date')%></th>
      <th scope="col"><%=t('.confirmation_status')%></th>
    </tr>
  </thead>
  <tbody>
    <% current_user.donations.each do |donation| %>
      <% project = Project.find(donation.project_id) %>
      <tr>
        <td><%= link_to "#{project.name}", project_path(project), class: 'text-black' %></td>
        <td><%= donation.amount %></td>
        <td><%= l donation.created_at, format: :short %></td>
        <td>
          <% if donation.confirmation_status%>
            <%=t('.confirmed')%>
          <%else%>
            <%=t('.unconfirmed')%>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>