<%= stylesheet_link_tag 'project'%>
<div class="container">
    
        <div class="col-lg-8 border p-3 main-section bg-white">
            <div class="row m-0">
                <div class="col-lg-4 left-side-product-box pb-3">
                    <% if @project.images.attached?%>
                        <%=image_tag(@project.images.last) %>
                        <span class="sub-img">
                            <% for i in (0...@project.images.count-1) %>
                                <%= image_tag(@project.images[i])%>
                            <% end %>
                        </span>
                    <% end %>
                </div>
                <div class="col-lg-8">
                    <div class="right-side-pro-detail border p-3 m-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="m-0 p-0 text-black"><%= @project.name.capitalize %></p>
                            </div>
                            <div class="col-lg-12">
                                <span class='row'>
                                    <div class='col'>
                                        <p class="m-0 p-0 text-black">Our goal: $<%= @project.money_goal %></p>
                                    </div>
                                    <div class='col'>
                                        <% if @project.money_goal > @project.current_money%>
                                            <p class="m-0 p-0 price-pro">Left: <%= @project.money_goal - @project.current_money %></p>
                                            <p class="m-0 p-0 price-pro">Current earnings: <%= @project.current_money %>
                                        <%else%>
                                            <p class="m-0 p-0 price-pro">We did it!</p>
                                            <p class="m-0 p-0 price-pro">Current earnings: <%= @project.current_money %>
                                        <%end%>
                                        
                                    </div>
                                </span>
                                <span class='row'>
                                    <div class='col'>
                                        <p class="m-0 p-0">Start: <%= @project.created_at.strftime('%Y-%m-%d') %></p>
                                    </div>
                                    <div class='col'>
                                        <p class="m-0 p-0">End: <%= @project.end_date.strftime('%Y-%m-%d') %></p>
                                        
                                    </div>
                                </span>
                                <hr class="p-0 m-0"> 
                            </div>
                            <div class="col-lg-12 pt-2">
                                <h5>Project Detail</h5>
                                <span><%= @project.description.capitalize %></span>
                                <hr class="m-0 pt-1 mt-2">
                            </div>
                            <%= form_for([@project, Donation.new]) do |f| %>
                                <div class="col-lg-12 mt-3">
                                    <h6>Donation:</h6>
                                    <%= f.number_field :amount, class:"form-control text-center w-100", placeholder: 'Amount'%>
                                </div>
                                <div class="col-lg-12 mt-3">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <%= f.submit "Donate", class: 'btn btn-success' %>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>