<h2><%= User.model_name.human %></h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= User.human_attribute_name("first_name") %></th>
      <th scope="col"><%= User.human_attribute_name("last_name") %></th>
      <th scope="col"><%= User.human_attribute_name("birth_date") %></th>
      <th scope="col"><%= User.human_attribute_name("city") %></th>
      <th scope="col"><%= User.human_attribute_name("is_admin") %></th>
      <th scope="col"><%= User.human_attribute_name("is_deleted") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.birth_date %></td>
        <td><%= user.city %></td>
        <td><%= user.is_admin %></td>
        <td><%= user.is_deleted %></td>
        <td></td>
      </tr>
      <% end %>
  </tbody>
</table>